$margin-lg: 120rem;
$margin-md : 90rem;
$margin-sm:60rem;
$primary-color-1: #1a2040;
$primary-color-2: #0d0d0d;
$primary-color-3: #162bbc;
$primary-color-4: #1730bf;
$primary-color-5: #d9d9d9;
$secondary-color-1: #d95204;
$secondary-color-2: #d97904;
$secondary-color-3: #f29f05;
$secondary-color-4: #f2b705;
$secondary-color-5: #f2cb05;
$color-white: #ffffff;
// #1a2040