.certificate {
    background-color: $primary-color-2;
    width: 100%;

    & .certificate-container {
      width: $margin-lg;
      margin-left: auto;
      margin-right: auto;
      padding-top: 3.8rem;
      @include respond(tab-land){
        width: $margin-md;
      }

      & h3 {
        text-align: center;
        font-size: 2.2rem;
        color: $secondary-color-5;
        text-transform: uppercase;
      }

      & .cert-img {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        aspect-ratio: 15/3;
        object-fit: contain;


        & img {
          width: 10%;
          margin: 2rem 0 3.8rem;
        }
      }
    }
  }