footer {
    width: 100%;
    background-color: $primary-color-2;
  
    & section {
      width: $margin-lg;
      padding: 8rem 0;
      color: $primary-color-5;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.8rem;
      display: flex;
      justify-content: space-between;
    @include respond(tab-land){
        width: $margin-md;
    }
    }
  }